<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>成绩管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
    <style>
        body{overflow-y: scroll;} /* 禁止刷新后出现横向滚动条 */
        .layui-fluid{overflow-y: scroll;}
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card layui-fluid">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="xuehao" placeholder="请输入学号" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="姓名" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">考试名称</label>
                    <div class="layui-input-inline">
                        <select name="pid" id="paperSelectId">
                            <option value="">全部</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit
                            lay-filter="LAY-app-contcomm-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-comm" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-comm" data-type="add">添加</button>
                <button class="layui-btn layuiadmin-btn-comm" data-type="reload">刷新</button>
                <button type="button" class="layui-btn " id="selectFile">选择学生成绩文件</button>
                <div class="layui-form layui-inline">
                    <select name="pid"  id="paperSelectId2" >
                        <option value="">---请选择考试名称---</option>
                    </select>
                </div>
                <button type="button" class="layui-btn" id="uploadFile">开始上传</button>
                <button class="layui-btn layuiadmin-btn-comm" data-type="downloadTemplate">下载文件导入模板</button>
            </div>
            <table id="LAY-app-content-comm" lay-filter="LAY-app-content-comm"></table>
            <script type="text/html" id="table-content-com">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script src="../layuiadmin/layui/layui.js"></script>
<script src="../layuiadmin/layui/layui-xtree.js"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table
                , upload = layui.upload;
            selectPaperName($, form);

            var data = {};
            //指定允许上传的文件类型
            upload.render({
                elem: '#selectFile'
                , url: '/score/uploadScoreByFile'
                , accept: 'file'
                , data: data
                , exts: 'xlsx'
                , auto: false
                , bindAction: '#uploadFile'
                , done: function (res) {
                    if(res.code == '0'){
                        layer.msg("上传成功");
                        //table.reload();
                        location.reload()
                    }else{
                        layer.alert(res.msg);
                    }
                }
                , before: function () {
                    pid = $("#paperSelectId2").val();
                    data.pid = pid;
                    if (pid == "" || pid==undefined) {
                        layer.msg("请选择考试名称");
                        return;
                    }
                }
            });


            table.render({
                elem: '#LAY-app-content-comm'
                , url: '/score/list'
                , method: 'post'
                , cols: [[
                    {type: 'checkbox'}
                    , {align: 'center', field: 'xuehao', title: '学号', sort: true, edit: 'text'}
                    , {align: 'center', field: 'name', title: '姓名', sort: false, edit: 'text'}
                    , {align: 'center', field: 'score', title: '成绩', sort: true, edit: 'text'}
                    , {align: 'center', field: 'examName', width:300,title: '考试名称', sort: true, edit: 'text'}
                    , {title: '操作', align: 'center', width:140,toolbar: '#table-content-com'}
                ]]
                , page: true
                , even: true //斑马线效果
                , limit : 40
            })
            //监听工具条
            table.on('tool(LAY-app-content-comm)', function (obj) {
                <!--layer.confirm('真的删除行么');-->
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: '/score/delById',
                            data: {id: obj.data.id},
                            //'id='+obj.data.id,
                            //我想传obj.data.id 这个值是1，后台要接受id这个参数
                            type: 'post',
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg('删除成功');
                                    obj.del();
                                    layer.close(index);
                                } else {
                                    layer.msg(res.msg, {
                                        anim: 6
                                    });
                                }
                            }
                        })

                    })

                }
            })


            //监听搜索
            form.on('submit(LAY-app-contcomm-search)', function (data) {
                var field = data.field;
                //执行重载
                table.reload('LAY-app-content-comm', {
                    where: field
                });
            });
            //监听单元格单击修改
            table.on('edit(LAY-app-content-comm)', function (obj) {
                var value = obj.value//更改后得字段
                    , data = obj.data //更改前得键值对
                    , newField = obj.field; //更改得字段名
                $.ajax({
                    url: '/score/updateScore'
                    , type: 'post'
                    , data: JSON.parse('{"id":"' + data.id + '",' + '"' + newField + '":"' + value + '"}')
                    , success: function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg, {
                                anim: 6
                            });
                        }
                    }
                });
                /*layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value, {
                    offset: '15px'
                })*/
            })

            //点击事件
            var active = {
                batchdel: function () {
                    var checkStatus = table.checkStatus('LAY-app-content-comm')
                        , checkData = checkStatus.data; //得到选中的数据

                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function (index) {
                        $.ajax({
                            url: '/score/batchDel',
                            data: JSON.stringify(checkData),
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (res) {
                                if (res.code == 0) {
                                    layer.msg('删除成功');
                                    window.location.reload();
                                } else {
                                    layer.msg(res.msg, {
                                        anim: 6
                                    });
                                }

                            }
                        })
                    })

                    //执行 Ajax 后重载


                }
                , add:
                    function () {
                        layer.open({
                            type: 2
                            , title: ''
                            , content: 'addScoreForm.html'
                            , area: ['360px', '320px']
                            , btn: ['确定', '取消']
                            , yes: function (index, layero) {
                                var iframeWindow = window['layui-layer-iframe' + index]
                                    , submitID = 'LAY-user-front-submit'
                                    , submit = layero.find('iframe').contents().find('#' + submitID);
                                //监听提交
                                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                    var field = data.field; //获取提交的字段
                                    //提交 Ajax 成功后，静态更新表格中的数据
                                    $.ajax({
                                        url: '/score/add'
                                        , type: 'post'
                                        , data: field
                                        , success: function (res) {
                                            if (res.code == 0) {
                                                layer.msg(res.msg);
                                                iframeWindow.location.reload()
                                                //table.reload();
                                            } else {
                                                layer.msg(res.msg, {
                                                    anim: 6
                                                });
                                            }
                                        }
                                    });
                                });

                                submit.trigger('click');
                            }
                        });
                    }

                ,
                reload: function () {
                    table.reload('LAY-app-content-comm')
                }, downloadTemplate: function () {
                    window.location.href = "../import_score_template.xlsx";
                }
            }


            $('.layui-btn.layuiadmin-btn-comm'
            ).on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });


        }
    );

    function selectPaperName($, form) {
        $.ajax({
            url: "/examPaper/getAllPaper",
            type: "GET",
            success: function (list) {
                var role = document.getElementById("paperSelectId");
                var role2 = document.getElementById("paperSelectId2"); //add_role_name给select定义的id
                if (list == null || list.length == 0) {
                    layer.alert("暂无考试可以录入成绩")
                }
                for (var i = 0; i < list.length; i++) {
                    var option = document.createElement("option");    // 创建添加option属性
                    option.setAttribute("value", list[i].pid);                  // 给option的value添加值
                    option.innerText = list[i].name;             // 打印option对应的纯文本
                    var option2 = document.createElement("option");    // 创建添加option属性
                    option2.setAttribute("value", list[i].pid);                  // 给option的value添加值
                    option2.innerText = list[i].name;
                    role.appendChild(option);                          // 给select 添加option子标签
                    role2.appendChild(option2);
                    form.render('select');
                }
            }
        });
    }
</script>
</body>
</html>