<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>预览题目</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/layui/css/shijuan.css" media="all">
</head>
<body style="background-color: rgb(255, 255, 255)">
<div class="question-block">
    <div class="q-mc">
        <div class="q-tit">
            <span th:text="${vo.question}"></span>_____
            <p style="margin-top: 6px" th:if="${vo.imgUrl}!=''">
                <img  th:src="${vo.imgUrl}">
            </p>
        </div>
        <div class="exam-s" style="overflow: hidden"  th:if="${vo.optionJson!=null}">
            <div class="option-item">
                 <span style="float: left;margin-right: 2px">A:</span>
                <span style="float: left;" th:text="${option.A}">今年苹果产量是去年苹果产量是去年苹果产量是去年的102%</span>
            </div>
            <div class="option-item">
                 <span style="float: left;margin-right: 2px">B:</span>
                <span style="float: left;" th:text="${option.B}">今年苹果产量是去年苹果产量是去年苹果产量是去年的102%</span>
            </div>
            <div class="option-item">
                 <span style="float: left;margin-right: 2px" >C:</span>
                <span style="float: left;" th:text="${option.C}">今年苹果产量是去年苹果产量是去年苹果产量是去年的102%</span>
            </div>
            <div class="option-item">
                 <span style="float: left;margin-right: 2px">D:</span>
                <span style="float: left;" th:text="${option.D}">今年苹果产量是去年苹果产量是去年苹果产量是去年的102%</span>
            </div>
        </div>
    </div>
    <div class="q-msg cfx">
        <div class="q-attr fl">
            题型: <span th:text="${vo.typeString}"></span>
            <em>|</em>难度:
            <span th:text="${vo.degreeString}"> </span>
            <em>|</em>正确答案:
            <span th:text="${vo.answer}"> </span>
        </div>
    </div>
</div>

</body>
</html>