<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 内容系统 - 评论管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card layui-fluid" style="float: right">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">知识点名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="zsdname" placeholder="请输入知识点名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit
                            lay-filter="LAY-app-contcomm-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-comm" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-comm" data-type="add">添加</button>
                <button class="layui-btn layuiadmin-btn-comm" data-type="reload">刷新</button>
            </div>
            <table id="LAY-app-content-comm" lay-filter="LAY-app-content-comm"></table>
            <script type="text/html" id="table-content-com">
                <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>-->
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
    <form class="layui-form " style="float: left">
        <div id="xtree1" style="width:300px;padding: 10px 0 25px 5px;"></div>
    </form>
</div>

<script src="../layuiadmin/layui/layui.js"></script>
<script src="../layuiadmin/layui/layui-xtree.js"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table;
        var xtree1 = new layuiXtree({
            elem: 'xtree1'   //(必填) 放置xtree的容器id，不要带#号
            , form: form     //(必填) layui 的 from
            , data: '/zsd/zsdTree'
        });
            table.render({
                width: 750,
                elem: '#LAY-app-content-comm'
                , url: '/zsd/list'
                , method: 'post'
                , cols: [[
                    {type: 'checkbox', width: 80}
                    , {title: '序号', width: 80, type: 'numbers'}
                    , {align: 'center', field: 'zsdname', title: '知识点名称', width: 400, sort: false, edit: 'text'}
                    , {title: '操作', align: 'center', fixed: 'right', toolbar: '#table-content-com'}
                ]]
                , page: true
                , even: true //斑马线效果
            })
            //监听工具条
            table.on('tool(LAY-app-content-comm)', function (obj) {
                <!--layer.confirm('真的删除行么');-->
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: '/zsd/delById',
                            data: {id: obj.data.id},
                            //'id='+obj.data.id,
                            //我想传obj.data.id 这个值是1，后台要接受id这个参数
                            type: 'post',
                            success: function (res) {
                                if (res.code == 0) {
                                    xtree1.render();
                                    layer.msg('删除成功');
                                    obj.del();
                                    layer.close(index);
                                } else {
                                    layer.msg(res.msg, {
                                        anim: 6
                                    });
                                }
                            }
                        })

                    })

                }
            })


            //监听搜索
            form.on('submit(LAY-app-contcomm-search)', function (data) {
                var field = data.field;
                //执行重载
                table.reload('LAY-app-content-comm', {
                    where: field
                });
            });
            //监听单元格单击修改
            table.on('edit(LAY-app-content-comm)', function (obj) {
                var value = obj.value//更改后得字段
                    , data = obj.data //更改前得键值对
                    , newField = obj.field; //更改得字段名
                $.ajax({
                    url: '/zsd/updateZsd'
                    , type: 'post'
                    , data: JSON.parse('{"id":"'+data.id+'",'+'"'+newField+'":"'+value+'"}')
                    , success: function (res) {
                        if (res.code == 0) {
                            xtree1.render();
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg, {
                                anim: 6
                            });
                        }
                    }
                });
                /*layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value, {
                    offset: '15px'
                })*/
            })

            //点击事件
            var active = {
                batchdel: function () {
                    var checkStatus = table.checkStatus('LAY-app-content-comm')
                        , checkData = checkStatus.data; //得到选中的数据

                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function (index) {
                        $.ajax({
                            url: '/zsd/batchDel',
                            data: JSON.stringify(checkData),
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (res) {
                                if (res.code == 0) {
                                    xtree1.render();
                                    layer.msg('删除成功');
                                    table.reload();
                                    table.reload('LAY-app-content-comm');
                                } else {
                                    layer.msg(res.msg, {
                                        anim: 6
                                    });
                                }

                            }
                        })
                    })

                    //执行 Ajax 后重载


                }
                , add:
                    function () {
                        layer.open({
                            type: 2
                            , title: '添加知识点'
                            , content: 'addForm.html'
                            , area: ['360px', '520px']
                            , btn: ['确定', '取消']
                            , yes: function (index, layero) {
                                var iframeWindow = window['layui-layer-iframe' + index]
                                    , submitID = 'LAY-user-front-submit'
                                    , submit = layero.find('iframe').contents().find('#' + submitID);
                                //监听提交
                                iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                    var field = data.field; //获取提交的字段
                                    //提交 Ajax 成功后，静态更新表格中的数据
                                    $.ajax({
                                        url: '/zsd/add'
                                        , type: 'post'
                                        , data: field
                                        , success: function (res) {
                                            xtree1.render();
                                            if (res.code == 0) {
                                                layer.msg(res.msg);
                                                iframeWindow.location.reload()
                                                table.reload();
                                            } else {
                                                layer.msg(res.msg, {
                                                    anim: 6
                                                });
                                            }
                                        }
                                    });
                                });

                                submit.trigger('click');
                            }
                        });
                    }

                ,
                reload: function () {
                    table.reload('LAY-app-content-comm');
                }
            }


            $('.layui-btn.layuiadmin-btn-comm'
            ).on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        }
    )
    ;
</script>
</body>
</html>