<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>手动组卷</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/layui/css/shijuan.css" media="all">
</head>
<body>
<div style="position:fixed;right:0;top:0;z-index: 999"><button class="layui-btn" id="seePaper" onclick="
        layer.full(layer.open({
            title:'预览试卷',
            type: 2,
            content: '/exam/previewPaper',
            area: ['700px', '300px'],
            maxmin: true
        }));

">预览试卷<span class="layui-badge layui-bg-gray" id="count">0</span></button>
</div>
<div class="layui-form">
    <div id="xtree1" style="width:300px;padding: 10px 0 25px 5px;float: left"></div>
    <div class="layui-card" style="float: left;width: 70%;margin-bottom: 10px">
        <div id="myForm" class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">题目内容</label>
                    <div class="layui-input-inline">
                        <input id="question" type="text" name="question" placeholder="请输入题目内容" autocomplete="off"
                               class="layui-input">
                    </div>
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type" id="typeId">
                            <option value="">全部</option>
                            <option value="1">选择题</option>
                            <option value="2">填空题</option>
                            <option value="3">判断题</option>
                            <option value="4">问答题</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="layui-inline">
                    <label class="layui-form-label">难度</label>
                    <div class="layui-input-inline">
                        <select name="degree" id="examdegree">
                            <option value="">全部</option>
                            <option value="1">简单</option>
                            <option value="2">一般</option>
                            <option value="3">较难</option>
                            <option value="4">困难</option>
                        </select>
                    </div>
                </div>
                <button class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit
                        lay-filter="LAY-app-contcomm-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>

            </div>
        </div>

    </div>
</div>
<div style="float:left;width: 70%" id="fatherQuestion" >

</div>
<div id="fenye" style="float: left;margin-left: 302px">
</div>


</body>

<script src="../layuiadmin/layui/layui.js"></script>
<script src="../layuiadmin/layui/layui-xtree.js"></script>
<script>

    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laypage', 'upload','element'],
        function () {
        var $ = layui.$
            , form = layui.form
            , laypage = layui.laypage
            , element = layui.element;
        var xtree1 = new layuiXtree({
            elem: 'xtree1'   //(必填) 放置xtree的容器id，不要带#号
            , form: form     //(必填) layui 的 from
            , data: '/zsd/zsdTree'
            , isopen: true
        });
        var count = 500;
        var limit = 10;
        //总页数低于页码总数

        $.ajax({
            url:'/examBasket/countExamOfBasketByUserId',
            success:function (res) {
                $("#count").text(res);
            }
        })

        laypage.render({
            elem: 'fenye'
            , limit: limit
            , count: count //数据总数
            , layout: ['prev', 'next']
            , jump: function (pageObj, first) {

                // if(!first){
                var items = xtree1.GetChecked();
                var ids = [];
                items.forEach(function (item) {
                    ids.push(item.value);
                })
                $.ajax({
                    url: '/exam/getExamForZuJuan',
                    data: {
                        type: $("#typeId").val(), question: $("#question").val(), degree: $("#examdegree").val()
                        , ids: ids.join(","), curPage: pageObj.curr, limit: pageObj.limit
                    },
                    method: "post",
                    success: function (res) {
                        if(res.data.length<1){
                            layer.msg("没有更多结果");
                            return ;
                        }
                        $("#fatherQuestion").empty();
                        var data = res.data;
                        data.forEach(function (item, index) {
                            index++;
                            var p1 = '<div class="layui-card question-block">\n' +
                                '        <div class="q-mc">\n' +
                                '            <div class="q-tit">\n' +
                                '                <span>' + index + '、' + item.question + '</span>_____。\n' +
                                '                <p style="margin-top: 6px" th:if="${vo.imgUrl}!=\'\'">\n' +
                                '                    <img  src="' + item.imgUrl + '">\n' +
                                '                </p>\n' +
                                '            </div>\n';

                            var p2 = '            <div class="exam-s" style="overflow: hidden"  th:if="${vo.optionJson!=null}">\n' +
                                '                <div class="option-item">\n' +
                                '                    <span style="float: left;margin-right: 2px">A:</span>\n' +
                                '                    <span style="float: left;">' + item.optionA + '</span>\n' +
                                '                </div>\n' +
                                '                <div class="option-item">\n' +
                                '                    <span style="float: left;margin-right: 2px">B:</span>\n' +
                                '                    <span style="float: left;">' + item.optionA + '</span>\n' +
                                '                </div>\n' +
                                '                <div class="option-item">\n' +
                                '                    <span style="float: left;margin-right: 2px" >C:</span>\n' +
                                '                    <span style="float: left;">' + item.optionA + '</span>\n' +
                                '                </div>\n' +
                                '                <div class="option-item">\n' +
                                '                    <span style="float: left;margin-right: 2px">D:</span>\n' +
                                '                    <span style="float: left;" >' + item.optionA + '</span>\n' +
                                '                </div>\n' +
                                '            </div>\n';
                            var result = '';
                            if (item.optionJson == null || item.optionJson == '') {
                                result = p1;
                            } else {
                                result = p1 + p2;
                            }
                            var p3 = '        </div>\n' +
                                '        <div class="q-msg cfx">\n' +
                                '            <div class="q-attr fl">\n' +
                                '                题型: <span>' + item.typeString + '</span>\n' +
                                '                <em>|</em>所属知识点:\n' +
                                '                <span>' + item.zsdname + ' </span>\n' +
                                '                <em>|</em>难度:\n' +
                                '                <span>' + item.degreeString + ' </span>\n' +
                                '                <em>|</em>正确答案:\n' +
                                '                <span>' + item.answer + '</span>\n' +
                                '            </div>\n' +'<div style="float: right;margin-top: 12px"><button id="but'+item.eid+'" onclick="addBasket('+item.eid+')" class="layui-btn layui-btn-normal layui-btn-sm">\n' +
                                '    <i class="layui-icon">&#xe654;加入试题篮</i>\n' +
                                '  </button>' +
                                '</div>'
                                '        </div>\n' +
                                '    </div>';
                            $("#fatherQuestion").append(
                                result + p3
                            )
                        })
                    }
                });
            }
        });

        element.tabAdd('demo', {
                title: '新选项'+ (Math.random()*1000|0) //用于演示
                ,content: '内容'+ (Math.random()*1000|0)
                ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
         })


        //监听搜索
        form.on('submit(LAY-app-contcomm-search)', function (data) {

            var items = xtree1.GetChecked();
            var ids = [];
            items.forEach(function (item) {
                ids.push(item.value);
            })
            var postData = {
                "question": data.field.question, "type": data.field.type,
                "degree": data.field.degree, "ids": ids.join(","), curPage: '1', limit: limit
            };
            $.ajax({
                url: '/exam/getExamForZuJuan',
                data: postData,
                method: "post",
                success: function (res) {
                    if(res.count<1){
                        layer.msg("没有更多结果");
                        return ;
                    }
                    $("#fatherQuestion").empty();
                    var data = res.data;
                    data.forEach(function (item, index) {
                        index++;
                        var p1 = '<div class="layui-card question-block">\n' +
                            '        <div class="q-mc">\n' +
                            '            <div class="q-tit">\n' +
                            '                <span>' + index + '、' + item.question + '</span>_____。\n' +
                            '                <p style="margin-top: 6px" th:if="${vo.imgUrl}!=\'\'">\n' +
                            '                    <img  src="' + item.imgUrl + '">\n' +
                            '                </p>\n' +
                            '            </div>\n';

                        var p2 = '            <div class="exam-s" style="overflow: hidden"  th:if="${vo.optionJson!=null}">\n' +
                            '                <div class="option-item">\n' +
                            '                    <span style="float: left;margin-right: 2px">A:</span>\n' +
                            '                    <span style="float: left;">' + item.optionA + '</span>\n' +
                            '                </div>\n' +
                            '                <div class="option-item">\n' +
                            '                    <span style="float: left;margin-right: 2px">B:</span>\n' +
                            '                    <span style="float: left;">' + item.optionA + '</span>\n' +
                            '                </div>\n' +
                            '                <div class="option-item">\n' +
                            '                    <span style="float: left;margin-right: 2px" >C:</span>\n' +
                            '                    <span style="float: left;">' + item.optionA + '</span>\n' +
                            '                </div>\n' +
                            '                <div class="option-item">\n' +
                            '                    <span style="float: left;margin-right: 2px">D:</span>\n' +
                            '                    <span style="float: left;" >' + item.optionA + '</span>\n' +
                            '                </div>\n' +
                            '            </div>\n';
                        var result = '';
                        if (item.optionJson == null || item.optionJson == '') {
                            result = p1;
                        } else {
                            result = p1 + p2;
                        }
                        var p3 = '        </div>\n' +
                            '        <div class="q-msg cfx">\n' +
                            '            <div class="q-attr fl">\n' +
                            '                题型: <span>' + item.typeString + '</span>\n' +
                            '                <em>|</em>所属知识点:\n' +
                            '                <span>' + item.zsdname + ' </span>\n' +
                            '                <em>|</em>难度:\n' +
                            '                <span>' + item.degreeString + ' </span>\n' +
                            '                <em>|</em>正确答案:\n' +
                            '                <span>' + item.answer + '</span>\n' +
                            '            </div>\n' +'<div style="float: right;margin-top: 12px"><button id="but'+item.eid+'" onclick="addBasket('+item.eid+')" class="layui-btn layui-btn-normal layui-btn-sm">\n' +
                            '    <i class="layui-icon">&#xe654;加入试题篮</i>\n' +
                            '  </button>' +
                            '</div>'
                        '        </div>\n' +
                        '    </div>';
                        $("#fatherQuestion").append(
                            result + p3
                        )
                    })
                }
            });

        });
    }
    )
</script>
<script src="../layuiadmin/layui/jquery.min.js"></script>
<script>
    function addBasket(eid) {
        console.log(this)
        $.ajax({
            url:'/examBasket/addExamToBasket',
            data:{examId:eid},
            method:'post',
            success:function (res) {

                if (res.code == '0') {
                    // console.log($("#but"+eid));
                    $("#but"+eid).text("加入成功！")
                    $("#but"+eid).addClass("layui-btn-disabled");
                    var count = parseInt($("#count").text());
                    count++;
                    $("#count").text(count);
                }

            }
        })
    }


</script>


</html>